*{
    margin: 0;
    padding: 0;
}
.as{
    background-image: url(img/ice-8018604_1280-fotor-20240129145414.jpg);
    color: black;
    
    background-repeat: no-repeat;
    background-size: cover;
}
.all{
    display: flex;
    padding: 50px;
}
.navbar{
    padding-top: 10px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding-left: 150px;
}
.img img{
    padding-left: 200px;
}
.navbar i{
    padding-left: 5px;
    font-size: 20px;
}
.h1 h1{
    font-size: 60px;
    color: white;
    padding-left: 370px;
    padding-top: 130px;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;  
    word-spacing: 4px;
}
.h1 p{
    padding-left: 10px;
    padding-top: 30px;
    color: white;
    font-size: 25px;
    font-family: "Merriweather", serif;
    font-weight: 100;
    font-style: normal;
}
.h1 i{
    margin-left: 630px;
    margin-top: 70px;
    padding-left: 3px;
    margin-bottom: 60px;
    color: white;
    font-size: 35px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
}
.body{
    background-color: black;
}
.photo{
    color: white;
}
.photo h2{
    padding-left: 540px;
    padding-top: 40px;
}
.photo p{
    text-align: center;
    padding-top: 20px;
}
.ena{
    padding: 50px 180px;
    display: flex;
}
.img1{
    margin-right: 40px;
}
.img2{
    margin-right: 40px;
}
.img1 p{
    color: rgb(131, 21, 21);
    text-align: center;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: -6px;
    font-weight: 600;
    padding: 5px 92.5px;
}
.img2 p{
    color: rgb(131, 21, 21);
    text-align: center;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: -6px;
    font-weight: 600;
    padding: 5px 81px;
}
.img3 p{
    color: rgb(131, 21, 21);
    text-align: center;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 92px;
    margin-top: -6px;
    font-weight: 600;
}
.img1 p span{
    color: antiquewhite;
}
.img2 p span{
    color: antiquewhite;
}
.img3 p span{
   color: antiquewhite;
}
.li{
    padding-left: 650px;
    display: flex;
    padding-bottom: 20px;
}
.li a{
    color: rgb(54, 74, 161);
    text-decoration: none;
    padding-top: 5px;
}
.li i{
    padding-top: 3px;
    margin-left: -5px;
    font-size: 25px;
    color: rgb(54, 74, 161);
}
.note{
    color: white;
}
.note h2{
    padding-left: 500px;
    font-size: 25px;
    font-family: "Merriweather", serif;
    font-weight: 100;
    padding-bottom: 30px;
}
.note p{
    padding-left: 50px;
    text-align: center;
    padding-bottom: 30px;
}
.see{
    margin-left: 150px;
    display: flex;
    margin-bottom: 50px;
}
.see .adven{
    padding-right: 140px;
}
.adven h2,p{
    color: white;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 300;
}
.advent h2{
    padding-top: 30px;
}
.adven h2{
    padding-top: 30px;
}
.advent p{
    padding-top: 10px;
}
.adven p{
    padding-bottom: 50px;
    padding-top: 10px;
}
.advent h2,p{
    color: white;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 300;
}
.see .adven img{
    border-radius: 10px;
}
.see .advent img{
    border-radius: 10px;
}
.lil{
    padding-bottom: 70px;
    display: flex;
}
.lil a{
    color: rgb(54, 74, 161);
    text-decoration: none;
    padding-top: 5px;
    padding-left: 600px;
}
.lil i{
    padding-top: 3px;
    margin-left: -5px;
    font-size: 25px;
    color: rgb(54, 74, 161);
}
.o{
    background-image: url(img/i.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px;
}
footer{
    display: flex;
    background-color: rgba(0, 15, 13, 0.945);
    padding: 20px 0;
}
.foo{
    color: rgba(172, 172, 172, 0.685);
    padding-left: 100px;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 10px;
}
.nav{
    margin-left: 550px;
}
.nav a{
    color: white;
    text-decoration: none;
    padding-left: 50px;
}
@media screen and (max-width: 458px) {
    .as{
        background-image: url(img/ice-8018604_1280-fotor-20240129145414.jpg);
        color: black;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .all{
        display: flex;
        padding: 10px;
    }
    .navbar{
        padding-top: 30px;
    }
    .navbar a{
        color: white;
        text-decoration: none;
        padding-left: 20px;
    }
    .img img{
        padding-left: 30px;
        padding-top: 10px;
    }
    .navbar i{
        padding-left: 5px;
        font-size: 16px;
    }
    .h1 h1{
        font-size: 30px;
        color: white;
        padding-left: 70px;
        padding-top: 130px;
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: normal;  
        word-spacing: 4px;
    }
    .h1 p{
        padding-left: 10px;
        padding-top: 30px;
        color: white;
        font-size: 25px;
        font-family: "Merriweather", serif;
        font-weight: 100;
        font-style: normal;
    }
    .h1 i{
        margin-left: 180px;
        margin-top: 70px;
        padding-left: 3px;
        margin-bottom: 60px;
        color: white;
        font-size: 35px;
        border: 1px solid;
        border-radius: 50%;
        cursor: pointer;
    }
    .body{
        background-color: black;
    }
    .photo{
        color: white;
    }
    .photo h2{
        padding-left: 100px;
        padding-top: 40px;
    }
    .photo p{
        text-align: center;
        padding-top: 20px;
    }
    .ena{
        padding: 50px 5px;
        display: flex;
    }
    .img1 img{
        width: 130px;
    }
    .img2 img{
        width: 130px;
    }
    .img3 img{
        width: 110px;
        height: 130px;
    }
    .img1{
        margin-right: 10px;
    }
    .img2{
        margin-right: 10px;
    }
    .img1 p{
        color: rgb(253, 253, 253);
        text-align: center;
        border: 1px solid black;
        background-color: rgba(255, 255, 255, 0.5);
        margin-top: -6px;
        font-weight: 600;
        padding: 5px 22.5px;
    }
    .img2 p{
        color: rgb(255, 255, 255);
        text-align: center;
        border: 1px solid black;
        background-color: rgba(255, 255, 255, 0.5);
        margin-top: -6px;
        font-weight: 600;
        padding: 5px 13px;
    }
    .img3 p{
        color: rgb(255, 255, 255);
        text-align: center;
        border: 1px solid black;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 5px 7px;
        margin-top: -6px;
        font-weight: 600;
    }
    .img1 p span{
        color: rgb(51, 40, 26);
    }
    .img2 p span{
        color: rgb(51, 40, 26);
    }
    .img3 p span{
       color: rgb(51, 40, 26);
    }
    .li{
        padding-left: 170px;
        display: flex;
        padding-bottom: 20px;
    }
    .li a{
        color: rgb(54, 74, 161);
        text-decoration: none;
        padding-top: 5px;
    }
    .li i{
        padding-top: 3px;
        margin-left: -5px;
        font-size: 25px;
        color: rgb(54, 74, 161);
    }
    .note{
        color: white;
    }
    .note h2{
        padding-left: 60px;
        font-size: 20px;
        font-family: "Merriweather", serif;
        font-weight: 100;
        padding-bottom: 30px;
    }
    .note p{
        padding-left: 10px;
        text-align: left;
        padding-bottom: 30px;
    }
    .see{
        display: grid;
        margin-left: 50px;
        margin-bottom: 50px;
    }
    .see .adven{
        padding-right: 10px;
    }
    .adven img{
        width: 300px;
    }
    .advent img{
        width: 290px;
        padding-right: 100px;
    }
    .adven p{
        color: white;
        text-align: center;
        padding-right: 50px;
        font-family: "Merriweather", serif;
        font-weight: 300;
    }
    .advent h2{
        padding-top: 30px;
        padding-right: 80px;
        text-align: center;
    }
    .adven h2{
        padding-top: 30px;
        padding-right: 80px;
        text-align: center;
    }
    .advent p{
        padding-top: 10px;
        padding-right: 50px;
    }
    .adven p{
        padding-bottom: 50px;
        padding-top: 10px;
    }
    .advent,p{
        color: white;
        text-align: center;
        font-family: "Merriweather", serif;
        font-weight: 300;
    }
    .see .adven img{
        border-radius: 10px;
    }
    .see .advent img{
        border-radius: 10px;
    }
    .lil{
        padding-bottom: 70px;
        display: flex;
    }
    .lil a{
        color: rgb(54, 74, 161);
        text-decoration: none;
        padding-top: 5px;
        padding-left: 160px;
    }
    .lil i{
        padding-top: 3px;
        margin-left: -5px;
        font-size: 25px;
        color: rgb(54, 74, 161);
    }
    .o{
        background-image: url(img/i.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 150px;
    }
    footer{
        display: flex;
        background-color: rgba(0, 15, 13, 0.945);
        padding: 20px 0;
    }
    .foo{
        color: rgba(172, 172, 172, 0.685);
        padding-left: 10px;
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-size: 10px;
    }
    .nav{
        font-size: 10px;
        margin-left: 38px;
    }
    .nav a{
        color: white;
        text-decoration: none;
        padding-left: 3px;
    }
}